* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --book-width: 100px;
    --book-height: 150px;
}
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background-color: rgba(100, 66, 66, 0.7);
    font-family: Helvetica, sans-serif;
}

h1 {
    margin-bottom: 2rem;
}

.bookshelf {
    /* min-width: var(--book-width); */
    padding: 0.5rem;
    width: 75vw;
    min-height: var(--book-height);
    border: 1px solid black;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--book-width));
    gap: 1rem;
}

.book {
    width: var(--book-width);
    height: var(--book-height);
    border-radius: 5px;
    background-color: bisque;
}
.add-button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: rgb(100, 26, 26);
    color: rgba(199, 177, 147, 0.667);
    border: 2px solid black;
}

#book-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-input {
    display: flex;
    flex-direction: column;
}

.form-input:has(input[type="checkbox"]) {
    flex-direction: row;
    gap: 6px;
    align-items: center;
}
.dialog-open {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 40%, 700px);
    gap: 10px;
    align-items: center;
}

.exit {
    border-radius: 100%;
}