* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --book-width: 100px;
    --book-height: 100px;
}
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background-color: rgba(100, 66, 66, 0.7);
}

h1 {
    margin-bottom: 2rem;
}

.bookshelf {
    /* min-width: var(--book-width); */
    width: 75vw;
    min-height: var(--book-height);
    border: 1px solid black;
    margin-bottom: 2rem;
}

.add-button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: rgb(100, 26, 26);
    color: rgba(199, 177, 147, 0.667);
}