* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --book-width: 200px;
    --book-height: 300px;
}
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background-color: rgba(157, 130, 130, 0.7);
    font-family: Helvetica, sans-serif;
}

h1 {
    margin-bottom: 2rem;
}

.bookshelf {
    /* min-width: var(--book-width); */
    padding: 0.5rem;
    width: 75vw;
    min-height: var(--book-height);
    border: 5px solid rgb(127, 90, 52);
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--book-width));
    gap: 1rem;
}

.book {
    width: var(--book-width);
    height: var(--book-height);
    border-radius: 5px;
    background-color: bisque;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s;
    box-shadow: 2px 1px 5px 2px rgba(128, 128, 128, 0.492);
}

.book:hover {
    transform: translate(0, -3px);
    cursor: pointer;
}
.book-title {
    font-weight: bold;
    font-size: 1.5rem;
}
.book-author {
    font-style: italic;
    font-size: 0.8rem;
}
.add-button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: rgb(100, 26, 26);
    color: rgba(199, 177, 147, 0.667);
    border: 2px solid black;
    box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.554);
}
.add-button:hover {
    cursor: pointer;
    background-color: rgb(75, 20, 20);

}
#book-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-input {
    display: flex;
    flex-direction: column;
}

.form-input:has(input[type="checkbox"]) {
    flex-direction: row;
    gap: 6px;
    align-items: center;
}
.dialog-open {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 40%, 700px);
    gap: 10px;
    align-items: center;
}

.exit {
    border-radius: 100%;
}