* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --book-width: 200px;
    --book-height: 300px;
    --standard-shadow: 2px 1px 5px 2px rgba(128, 128, 128, 0.492);
}
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background-color: rgba(174, 128, 96, 0.7);
    font-family: Helvetica, sans-serif;
}

h1 {
    margin-bottom: 2rem;
}

.bookshelf {
    /* min-width: var(--book-width); */
    padding: 0.5rem;
    width: 75vw;
    min-height: var(--book-height);
    border: 5px solid rgb(127, 90, 52);
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--book-width));
    gap: 1rem;
    overflow-y: auto;
    justify-content: center;
}

.book {
    color: white;
    width: var(--book-width);
    height: var(--book-height);
    border-radius: 5px;
    background-color: #ffe4c4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    box-shadow: var(--standard-shadow);
    overflow-x: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.book-title, .book-author, .book-pages {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-wrap: anywhere;
    overflow: hidden;
}
.book-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    -webkit-line-clamp: 3;
}
.book-author {
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    -webkit-line-clamp: 1;
}
.book-pages {
    font-size: 0.7rem;
    text-align: center;
    -webkit-line-clamp: 1;
}
.book > button {
    font-size: 0.9rem;
    position: absolute;
    top: 10rem;
    padding: 0.3rem;
    border-radius: 4px;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgb(241, 155, 57);
}
.book > button:hover {
    cursor: pointer;
}
.book > .complete {
    background-color: rgb(52, 158, 52);
}
.book > .complete:active {
    background-color: rgb(39, 121, 39);
}
.book > button:not(.complete):active {
    background-color: rgb(180, 116, 43);
}
.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
}

.delete-book, .exit {
    border-radius: 100%;
    border: 2px solid white;
    background-color: rgb(223, 65, 65);
    color: white;
    font-weight: bold;
    box-shadow: var(--standard-shadow);
}

.delete-book {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: -1.25rem;
    font-size: 1.25rem;
}

.delete-book:hover, .exit:hover {
    cursor: pointer;
    background-color: rgb(171, 50, 50);
}
.add-button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: rgb(163, 83, 33);
    color: rgba(231, 190, 150, 0.667);
    border: 2px solid rgb(64, 57, 53);
    box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.554);
}
.add-button:hover {
    cursor: pointer;
    background-color: rgb(75, 20, 20);

}

#book-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-input {
    display: flex;
    flex-direction: column;
}

.form-input:has(input[type="checkbox"]) {
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.add-book-dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
.dialog-open {
    margin: 13vh auto auto auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    width: clamp(200px, 40%, 300px);
    height: 35vh;
    gap: 10px;
    align-items: center;
    background-color: rgb(130, 72, 45);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px 2px rgb(67, 66, 66);
    position: relative;
    overflow: visible;
}


.form-input > label {
    font-size: 1rem;
    color: rgb(226, 226, 226);
    margin-bottom: 0.2rem;
}

.form-input > input:not([type="checkbox"]) {
    padding: 0.1rem 0.3rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.39);
}

.form-input > input:not([type="checkbox"]):focus {
    outline: 1px solid rgb(221, 131, 22);
    border: none;
}

.book-form-submit {
    margin-top: 1.3rem;
    width: 4rem;
    height: 2rem;
    background-color: rgb(134, 51, 32);
    border: 1px solid rgb(100, 46, 34);
    box-shadow: 1px 1px 3px 1px rgba(53, 53, 53, 0.238);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.775);
}

.book-form-submit:hover {
    cursor: pointer;
    background-color: rgb(96, 36, 22);
}

.exit {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 0.5rem;
    top: 0.3rem;
    flex-shrink: 0;
    font-size: 0.7rem;
    border: 1px solid white;
    box-shadow: none;
}